{% extends 'base.html.twig' %}

{% block container %}
    <div class="container mt-5">
        <div class="d-flex justify-content-start flex-wrap mb-3 mr-2">
            <a href="{{ path('app_association_index') }}" class="btn btn-arrow mr-3 shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
        </div>
        <h1>Ajouter une Image à l'Association</h1>

        {{ form_start(formPhoto) }}
        <div class="form-group mb-1">
            {{ form_widget(formPhoto.titreImage, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'image'}}) }}
        </div>
        <div class="form-group mb-1">
            {{ form_widget(formPhoto.descriptionImage, {'attr': {'class': 'form-control', 'placeholder': 'Description de l\'image'}}) }}
        </div>
        <div class="form-group mb-1">
            {{ form_widget(formPhoto.imageAsso, {'attr': {'class': 'form-control', 'placeholder': 'Image de l\'association'}}) }}
        </div>
        {{ form_end(formPhoto) }}
    </div>
{% endblock %}
